<html>
<head>
<title>priya site</title>
</head>
<body background="fest1.jpg">
<div style="background-color:black;padding:10px; text-shadow:#41A317;">
<center><h1 style="font-family:jokerman;color:red;font-size:40;">TECHNO FEST 2k20</h1></center>
</div>
<div style ="background-color:#EE9A4D;padding:15px">
<table>
<tr>
<th bgcolor="yellow">
<a href="/techno">Home</a> | </th>
<th><a href="/Event"> Events </a> |</th> 
<th><a href="/technoreg"> Registration </a> |  </th>
<th><a href="/sampl"> About Us </a> | </th>
<th><a href="/technolog"> Login </a> | </th>
<th><a href="/sampl">Contact Us</a> </th>
</tr>	
</table>
</div >
<div style ="background:yellow;padding:2px"></div>
<div>
<h1>Welcome to hitech</h1>
<form action="/login" method="POST">
<input type="text" name="username" placeholder="username"><br><br>
<input type="text" name="password" placeholder="password"><br><br>
<input type="submit" name="submit" value="submit"><br><br>
</form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h4 style="color:white">bye</h4>
<div style ="background:yellow;padding:2px"><b>copyright@priya_raj_idhaya college</b></div>
</body>