{% extends 'base.html' %}
{% block content %}
    <h1>About</h1>
    <h3>{{title|capfirst|upper}}</h3>
    <p>This is a template</p>
    <p>
        {{ title }}, {{number}}
        {{list}}
        {{my_html|striptags}}
    </p>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>

    <ul>
        {% for abc in list %}
            {% if abc == 312 %}
                <li>{{forloop.counter }}-{{abc|add:22}}</li>
            {% elif abc == 'abc'%}
                <li>This is not the network</li>
            {% else %}
                <li>{{forloop.counter }}-{{abc}}</li>
            {% endif %}
           
        {% endfor %}
    </ul>
{% endblock %}