<!doctype html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="styles.css" rel="stylesheet"> -->

<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<html>
    <meta charset="utf-8">
    <title>Start Page</title>

    <body class="bg-dark"></body>
        {% block content %}
        {% endblock content %}
    </body>

</html>